<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/99972f58-a5b2-449d-ad93-6ad8ba77be1d/resourcegroups/Default-Web-EastUS/providers/Microsoft.Web/sites/TexMexTacosBot</ResourceId>
    <ResourceGroup>Default-Web-EastUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://texmextacosbot.azurewebsites.net/api/alexa</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>texmextacosbot.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TexMexTacosBot</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TexMexTacosBot</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TexMexTacosDataEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=texmex.database.windows.net;Initial Catalog=TexMexTacosData;Persist Security Info=True;User ID=texmex;Password=tex32Mex1;Application Name=EntityFramework" Name="Data Source=texmex.database.windows.net;Initial Catalog=TexMexTacosData;Persist Security Info=True;User ID=texmex;Password=tex32Mex1;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TexMexTacosBot.Data.TexMexTacosDataEntities, Bot Application" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TexMexTacosDataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Data.DataModel.csdl|res://*/Data.DataModel.ssdl|res://*/Data.DataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=texmex.database.windows.net;Initial Catalog=TexMexTacosData;Persist Security Info=True;User ID=texmex;Password=tex32Mex1;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>